:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(
      120deg,
      #bd34fe,
      #41d1ff
    );

    --vp-c-blue:#6495ed;
    --vp-c-green-dark: var(--vp-c-blue);
    --vp-c-brand: var(--vp-c-blue);
    --vp-button-brand-border: var(--vp-c-blue);
    --vp-c-green-darker:#2859b1;
  }
  .container p.text{
    font-size: 38px;
  }
  .outline-link:hover {
    font-weight: bloder;
    color: #2859b1 !important;
  }
  .outline-link.active {
    color: var(--vp-c-blue) !important;
  }

  .outline-marker{
    width:4px !important;
    background-color: var(--vp-c-blue) !important;
  }
